body {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Poppins';
}
img{
    max-width: 100%;
    height: auto;
}
.banner{
    display: flex;
}
.catogory-list{
    display: flex;
}
.footer_want{
    display: flex;
    flex-direction: column;
    .want-block{
        display: flex;
    }
}
.footer_custom{
    display: flex;
    flex-direction: column;
}
.footer_put{
    display: flex;
    flex-direction: column;
}
.above-header{
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    .left-header {
        display: flex;
        width: 40%;
    }
    .logo{
        width: 20%;
    }
    .right-header {
        display: flex;
        justify-content: flex-end;
        width: 40%;
    }
}
input.search {
    outline-width: 0;
    padding: 11px 35px 10px 20px;
    margin: 0px;
    height: 45px;
    width: 100%;
    font-size: 12px;
    background: #f5f5f5;
    color: #808080;
    font-weight: 400;
    font-family: Poppins;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -webkit-transition: background-color linear 0.2s, border-color linear 0.2s;
    -moz-transition: background-color linear 0.2s, border-color linear 0.2s;
    -o-transition: background-color linear 0.2s, border-color linear 0.2s;
    transition: background-color linear 0.2s, border-color linear 0.2s;
}
.search_div{
    position: relative;
    i{
        font-family: FontAwesome;
        position: absolute;
        right: 25px;
        top: 13px;
        cursor: pointer;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: #333;
        -webkit-font-smoothing: antialiased;
    }
}
.user, .cart{
    width: 45px;
    height: 45px;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    text-align: center;
    font-size: 17px;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    padding: 9px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.user{
    margin-right: 10px;
    &:hover{
        cursor: pointer;
    }
}

.cart-cover{
    display: flex;
    font-weight: bold;
    &:hover{
        color: red;
        cursor: pointer;
    }
    .price{
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        padding: 12px 0px 0px 16px;
        font-size: 14px;
        line-height: 22px;
        transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
    }
    .arrow_down{
        font-size: 10px;
    }
}
a.carousel-control-next, a.carousel-control-prev {
    background-color: black;
    width: 32px;
    height: 30px;
    position: absolute;
    top: 50%;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.navbar-expand-sm .navbar-collapse{
    justify-content: space-around;
}
.nav-right > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    i{
        &:hover{
            color: red;
        }
    }
}
.category-item {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 2px 3px 15px;
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
.category-item:last-child{
    border-bottom: none;
}
.footer-block1{
    display: flex;
    justify-content: space-between;
}
.footer-block2{
    display: flex;
    justify-content: space-between;
    img{
        width: 100px;
    }
}
.footer-block3{
    display: flex;
    justify-content: space-between;
}
.best-slider{
    .slick-prev{
        top: unset;
        bottom: -16px;
        background-color: #e5e5e5;
        left: 30%;
        border-radius: 4px;
        width: 30px;
        height: 30px;
    }
    .slick-next{
        top: unset;
        bottom: -16px;
        background-color: #e5e5e5;
        right: 30%;
        border-radius: 4px;
        width: 30px;
        height: 30px;
    }
    .js-best_slider{
        border: 2px solid red;
    }
}